<!-- Here's the DIV that we inject the map into -->
<div #mapViewNode></div>
<div>
    <table cellPadding="10" cellSpacing="10" border="black">
        <tr>
            <td width="20px" height="20px" bgcolor="blue">
    
            </td>
            <td width="50px">
                SUPERIOR
            </td>
            <td width="20px" height="20px" bgcolor="green">
    
            </td>
            <td width="50px">
                EXCELLENT
            </td>
            <td width="20px" height="20px" bgcolor="purple">
    
            </td>
            <td width="50px">
                GOOD
            </td>
            <td width="20px" height="20px" bgcolor="yellow">
    
            </td>
            <td width="50px">
                POOR
            </td>
            <td width="20px" height="20px" bgcolor="red">
    
            </td>
            <td>
                NON-COMPLIANT
            </td>
        </tr>
    </table> 
</div>
