<div>
<table>
    <tr>
        <td width="10px" height="10px" bgcolor="blue">

        </td>
        <td width="30">
            SUPERIOR
        </td>
        <td width="10px" height="10px" bgcolor="green">

        </td>
        <td width="30">
            EXCELLENT
        </td>
        <td width="10px" height="10px" bgcolor="purple">

        </td>
        <td width="30">
            GOOD
        </td>
        <td width="10px" height="10px" bgcolor="yellow">

        </td>
        <td width="30">
            POOR
        </td>
        <td width="10px" height="10px" bgcolor="red">

        </td>
        <td>
            NON-COMPLIANT
        </td>
    </tr>
</table>    
</div>